@import '../../styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;

  .logo-container {
    display: flex;
    width: 100%;

    img {
      height: 32px;

      &:first-child {
        margin-right: auto;
      }
    }

  }

  @include media-breakpoint-down(sm) {
    padding-right: 0;
    padding-left: 0;
  }
}
