<nb-card>
  <nb-card-header>
    <div class="d-flex flex-row">
      <div>Indicators</div>
      <div class="ml-auto">
        <button nbButton ghost title="Add Indicator" size="large" status="primary" class="nb-action p-0" (click)="showEntityForm()">
          <nb-icon icon="plus-circle" pack="eva"></nb-icon>
        </button>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <ngx-indicators-list-filter [filters]="filters" (onChange)="onFiltersChange($event)"></ngx-indicators-list-filter>
    <ngx-datatable
      class="bootstrap"
      rowHeight="auto"
      [rows]="rows"
      [columnMode]="ColumnMode.force"
      [headerHeight]="50"
      [footerHeight]="50"
      [externalPaging]="true"
      [externalSorting]="true"
      [sorts]="gridSorts"
      [count]="pagination?.totalItems"
      [offset]="pagination?.offset"
      [limit]="pagination?.pageSize"
      (page)="setListPage($event)"
      (sort)="onSort($event)"
    >
      <ngx-datatable-column
        [width]="90"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
        [sortable]="false"
      >
        <ng-template let-column="column" let-row="row" let-value="value" ngx-datatable-cell-template>
          <button nbButton ghost title="Edit" size="tiny" status="info" class="p-0" (click)="showEntityForm(row)">
            <nb-icon icon="edit-outline" pack="eva"></nb-icon>
          </button>
          <a nbButton ghost title="List Values" size="tiny" status="info" class="p-0 ml-2"
             [routerLink]="row.id + '/values'" [queryParams]="{'srt': 'date,desc'}">
            <nb-icon icon="file-text-outline" pack="eva"></nb-icon>
          </a>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Id" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column name="Name" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column name="Organization" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column *ngIf="!country" name="Country" prop="country.name" [sortable]="true">
        <ng-template let-column="column" let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.country?.name }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Latest Value" [sortable]="false">
        <ng-template let-column="column" let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ (row.values?.length && row.values[0]) ? (row.values[0].value | ngxNumberWithCommas) : '' }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Latest Update" [sortable]="false">
        <ng-template let-column="column" let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ (row.values?.length && row.values[0]) ? (row.values[0].date | date:'yyyy-MM-dd') : '' }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Weight" headerClass="weight" [sortable]="false">
        <ng-template let-column="column" let-row="row" let-value="value" style="text-align: right" ngx-datatable-cell-template>
          {{ value }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [width]="50"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
      >
        <ng-template let-column="column" let-row="row" let-value="value" ngx-datatable-cell-template>
          <button nbButton ghost title="Delete" size="tiny" status="danger" class="p-0" (click)="onDelete(row)">
            <nb-icon icon="trash-outline" pack="eva"></nb-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </nb-card-body>
</nb-card>
