<form [formGroup]="listFilterForm" class="list-filter-form">
  <div class="form-group">
    <label class="label" for="name">All Terms</label>
    <input nbInput id="name" type="text" formControlName="name" class="form-control"
           placeholder="Enter term name to search" autocomplete="off" fullWidth/>
  </div>
</form>

<ul class="list-group lite-list">
  <li *ngFor="let term of filteredTerms"
      class="list-group-item"
      dndEffectAllowed="copy"
      [dndDraggable]="term"
      (dndStart)="onDragStart($event)"
      (dndCopied)="onDragged(term, filteredTerms, 'copy')"
      (dndLinked)="onDragged(term, filteredTerms, 'link')"
      (dndMoved)="onDragged(term, filteredTerms, 'move')"
      (dndCanceled)="onDragged(term, filteredTerms, 'none')"
      (dndEnd)="onDragEnd($event)">
    <a title="{{ term.name }}" class="list-group-item-action">
      <span>{{ term.label }}</span>
    </a>
  </li>
</ul>
