<form [formGroup]="entityForm" (ngSubmit)="onSubmit($event)">
  <nb-card>
    <nb-card-header>{{ identifierValue ? 'Edit' : 'Add' }} Vocabulary</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="label" class="label">Label</label>
            <input nbInput id="label" formControlName="label" type="text" class="form-control"
                   [ngClass]="{'is-invalid': (label.touched || label.dirty) && label.invalid}"
                   fullWidth required
            />
            <div *ngIf="label.errors?.required" class="invalid-feedback">Required.</div>
          </div>
        </div>
        <div class="col-8">
          <div class="form-group">
            <label for="name" class="label">Name</label>
            <input nbInput id="name" formControlName="name" type="text" class="form-control"
                   [ngClass]="{'is-invalid': (name.touched || name.dirty) && name.invalid}"
                   fullWidth required
            />
            <div *ngIf="name.errors?.required" class="invalid-feedback">Required.</div>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="name" class="label"></label>
          </div>
          <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" id="enable-name-edit" class="custom-control-input" [defaultChecked]="enableManualNameEntry" (change)="onNameEditCheckboxChange($event)" />
            <label for="enable-name-edit" class="custom-control-label">Edit "Name" manually.</label>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer class="d-flex flex-row">
      <button nbButton status="danger" type="button" (click)="onDialogDismiss()">Cancel</button>
      <button nbButton status="primary" type="submit" class="ml-auto"
              [disabled]="!(entityForm.valid && entityForm.dirty)">
        Save
      </button>
    </nb-card-footer>
  </nb-card>
</form>
