<form [formGroup]="entityForm" (ngSubmit)="onSubmit($event)">
  <nb-card>
    <nb-card-header>{{ identifierValue ? 'Edit' : 'Add' }} Indicator</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="name" class="label">Name</label>
            <input nbInput id="name" formControlName="name" type="text" class="form-control"
                   [ngClass]="{'is-invalid': (name.touched || name.dirty) && name.invalid}"
                   fullWidth required
            />
            <div *ngIf="name.errors?.required" class="invalid-feedback">Required.</div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="organization" class="label">Organization</label>
            <input nbInput id="organization" formControlName="organization" type="text" class="form-control"
                   [ngClass]="{'is-invalid': (organization.touched || organization.dirty) && organization.invalid}"
                   fullWidth required
            />
            <div *ngIf="organization.errors?.required" class="invalid-feedback">Required.</div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="country" class="label">Country</label>
            <input nbInput id="country" formControlName="country" type="text" class="form-control"
                   #countryInput autocomplete="off" fullWidth required
                   [ngClass]="{'is-invalid': (country.touched || country.dirty) && country.invalid}"
                   [ngbTypeahead]="countryAcSearchDelegate.acSearch"
                   [inputFormatter]="acInputFormat"
                   [resultFormatter]="acResultFormat"
                   [editable]="false"
            />
            <div *ngIf="country.errors?.required" class="invalid-feedback">Required.</div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="weight" class="label">Weight</label>
            <input nbInput id="weight" formControlName="weight" type="text" class="form-control"
                   [ngClass]="{'is-invalid': (weight.touched || weight.dirty) && weight.invalid}"
                   fullWidth required pattern="-?[0-9]+"
            />
            <div *ngIf="weight.errors?.required" class="invalid-feedback">Required.</div>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer class="d-flex flex-row">
      <button nbButton status="danger" type="button" (click)="onDialogDismiss()">Cancel</button>
      <button nbButton status="primary" type="submit" class="ml-auto"
              [disabled]="!(entityForm.valid && entityForm.dirty)">
        Save
      </button>
    </nb-card-footer>
  </nb-card>
</form>
