<form [formGroup]="entityForm" (ngSubmit)="onSubmit($event)">
  <nb-card>
    <nb-card-header>{{ identifierValue ? 'Edit' : 'Add' }} Country</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="code" class="label">Code</label>
            <input nbInput id="code" type="text" formControlName="code" class="form-control"
                   [ngClass]="{'is-invalid': (code.touched || code.dirty) && code.invalid}"
                   fullWidth required />
            <div *ngIf="code.errors?.required" class="invalid-feedback">Required.</div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="name" class="label">Name</label>
            <input nbInput id="name" type="text" formControlName="name" class="form-control"
                   [ngClass]="{'is-invalid': (name.touched || name.dirty) && name.invalid}"
                   fullWidth required />
            <div *ngIf="name.errors?.required" class="invalid-feedback">Required.</div>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer class="d-flex flex-row">
      <button nbButton status="danger" type="button" (click)="onDialogDismiss()">Cancel</button>
      <button nbButton status="primary" type="submit" class="ml-auto" [disabled]="!entityForm.valid">Save</button>
    </nb-card-footer>
  </nb-card>
</form>
